<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://startuppakistan.com.pk/wp-content/uploads/2022/08/BB-1-scaled.jpg)">
  Save any kind of movies
</div>
<div class='container mt-2'>
  <div class='d-flex justify-content-between'>
    <h3>My Lists</h3>
    <%= link_to 'Create a new movie list', new_list_path, class: 'btn btn-success text-white' %>
  </div>
  <div class="cards mt-2">
    <% @lists.each do |list| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? (cl_image_path(list.photo.key)) : (image_path('https://startuppakistan.com.pk/wp-content/uploads/2022/08/BB-1-scaled.jpg')) %>)">
        <%= link_to list.name, list_path(list), class: 'text-decoration-none text-white' %>
      </div>
    <% end %>
  </div>
</div>
