<div class='container mt-2'>
  <%== simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie, collection: Movie.order(:title) %>
    <%= f.button :submit, class: 'btn btn-success' %>
  <% end %>
</div>
